.auth-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}
.auth-box{
    width: 450px;
    height: 500px;
    background: #fff;
    backdrop-filter: blur(20px);
    border-radius: 30px;
    padding: 40px;
    box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.1),
                -2px -0px 15px 2px rgba(0,0,0,0.1);
    z-index: 10;
}
.auth-wrapper{
    position: absolute;
    width: 455px;
    height: 500px;
    border-radius: 30px;
    background: rgba(255,255,255,0.53);
    box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.115),
                -2px -0px 15px 2px rgba(0,0,0,0.054);
    transform: rotate(5deg);
}
.auth-header{
    margin-bottom: 50px;
}
.auth-header header{
    display: flex;
    justify-content: right;
}
header img{
    width: 55px;
}
.auth-header p{
    font-size: 25px;
    font-weight: 800;
    margin-top: 10px;
    color: #404558;
}
.auth-input-box{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    position: relative;
}
i{
    font-size: 22px;
    position: absolute;
    top: 35px;
    right: 12px;
    color: #595b5e;
}
input{
    height: 40px;
    border: 2px solid rgb(153,157,158);
    border-radius: 7px;
    margin: 7px 0;
    outline: none;
}
.auth-input-field{
    font-weight: 500;
    padding: 0 10px;
    font-size: 17px;
    color: #404558;
    background: transparent;
    transition: all .3s ease-in-out;
}
.auth-input-field:focus{
    border:2px solid rgb(89,53,180);
}
.auth-input-field:focus ~ i{
    color: rgb(89,53,180);
}
.auth-input-submit{
    margin-top: 20px;
    background: #404558;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.auth-input-submit:hover{
    background: #404558;
}
.auth-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
}
.auth-bottom span{
    color: #727374;
    text-decoration: none;
    cursor: pointer;
}
.auth-bottom span a:hover{
    text-decoration: underline;
}

.signup-wrapper{
    position: absolute;
    width: 455px;
    height: 550px;
    border-radius: 30px;
    background: rgba(255,255,255,0.53);
    box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.115),
                -2px -0px 15px 2px rgba(0,0,0,0.054);
    transform: rotate(5deg);
}

.signup-box{
    width: 450px;
    height: 550px;
    background: #fff;
    backdrop-filter: blur(20px);
    border-radius: 30px;
    padding: 40px;
    box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.1),
                -2px -0px 15px 2px rgba(0,0,0,0.1);
    z-index: 10;
}